*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 63);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 65px;
    margin: 20px;
}

h1 a{
    text-decoration: none;
    color: lightblue;
    text-shadow: 2px 2px 0px black;
}

h1 a:hover{
    text-shadow: 2px 2px 0px black, 2px 2px 6px rgb(5, 5, 63);
}

.container{
    margin: 10vh 10vw;
    height: auto;
    padding: 10px;
    background-color: rgb(52, 52, 163);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

#trivias{
    margin: 20px auto;
    border: solid 3px black;
    border-left: solid 3px #5d5d5d;
    border-top: solid 3px #5d5d5d;
    min-width: 299px;
    width: 40%;
    height: auto;
    text-align: center;
    border-radius: 15px;
}

#trivias:active{
    border-top: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px #5d5d5d;
    border-right: solid 3px #5d5d5d;
}

#trivias > a{
    border-radius: 15px;
    display: block;
    width: 100%;
    font-size: 60px;
    padding: 30px 10px;
    text-decoration: none;
    color: lightblue;
}

.trivia-1{
    background-color: rgb(11, 11, 141);
}

.trivia-2{
    background-color: rgb(186, 16, 16);
}

.trivia-1 a:hover{
    background-color: rgb(21, 21, 201);
    color: white !important;
}

.trivia-2 a:hover{
    background-color: rgb(241, 24, 24);
    color: white !important;
}

@media screen and (max-width: 800px){
    #trivias{
        width: 70vw;
        height: 25vh;
    }
    #trivias a{
        height: 100%;
    }
}